@mixin pagelayout {
    position: relative;
    z-index: 2;
    transition: all .5s ease-in;
    display: flex;
    animation: fadeinto 1.5s ease-in-out alternate;
    
    &::before {
        content: '';
        position: fixed;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(20, 20, 20, 1);
        animation: grow .7s ease-in-out alternate;
    }
}